.input {
    font-size: 26px;
    color: var(--brown-gray);

    width: 100%;
    height: 46px;

    padding: 5px 0 5px 20px;

    border: none;
    border-radius: 10px;
    
    &--beige-light{
        background-color: var(--beige-light);
    }

    &--beige {
        background-color: var(--beige);
    }
}