.container {
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #FEF2E6;

    width: 40vw;
    height: 100vh;
    margin: 0 auto;
}

.container-title {
    font-size: 5.6rem;
    color: var(--brown-gray);

    margin-top: 3rem;
}

.container-nav {
    width: 75%;
    
    margin-top: 3rem;
}